<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nfc.activity.monitor">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="A Xposed module to help you monitor what third-party applications are using your NFC for" />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />

    </application>

</manifest>
